In [1]:
import pandas as pd
import requests
import subprocess
import pandas as pd

In [8]:
#tao dataframe Card,Transaction Date,Transaction Time,Merchant Name,Merchant City,Amount VND
dataframe = pd.DataFrame(columns=['Card','Transaction Date','Transaction Time','Merchant Name','Merchant City','Amount VND'])

In [11]:
# Hàm chạy lệnh CLI HDFS và lấy dữ liệu
def run_hdfs_command(command):
    try:
        # Sử dụng subprocess với shell=True để môi trường giống như dòng lệnh
        process = subprocess.Popen(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, text=True)
        stdout, stderr = process.communicate()
        
        if process.returncode != 0:
            print(f"Error: {stderr}")
            return None
        
        return stdout
    except Exception as e:
        print(f"Exception: {e}")
        return None

# Lệnh HDFS để đọc tất cả các tệp trong thư mục HDFS, nếu tên file có dạng part-*
hdfs_command = "hadoop fs -cat /aida/output/part-*"

# Chạy lệnh và lấy dữ liệu
data = run_hdfs_command(hdfs_command)

# Chạy lệnh và lấy dữ liệu
raw_data = run_hdfs_command(hdfs_command)

# Kiểm tra nếu có dữ liệu trả về
if data:
    # Xử lý dữ liệu thành danh sách
    rows = data.strip().split("\n")
    data_list = []

    for line in rows:
        try:
            fields = line.split(",")
            if len(fields) == 6:  # Kiểm tra có đủ trường dữ liệu
                data_list.append({
                    'Card': fields[0],
                    'Transaction Date': fields[1],
                    'Transaction Time': fields[2],
                    'Merchant Name': fields[3],
                    'Merchant City': fields[4],
                    'Amount VND': fields[5]
                })
        except Exception as e:
            print(f"Error processing line: {line}. Exception: {e}")

    # Tạo DataFrame từ danh sách
    dataframe = pd.DataFrame(data_list)

    # Hiển thị DataFrame
    print(dataframe.head())
else:
    print("No data retrieved.")

  Card Transaction Date Transaction Time         Merchant Name Merchant City  \
0    0       26/10/2002         06:05:00   5817218446178736267      La Verne
1    0       11/09/2002         19:30:00  -1605794445852049456      La Verne
2    0       30/09/2002         12:52:00   2027553650310142703     Mira Loma
3    0       04/10/2002         06:20:00   3527213246127876953      La Verne
4    0       31/10/2002         06:11:00   -245178307025547046      La Verne

           Amount VND
0           2866320.0
1  1924320.0000000002
2            271200.0
3           2756880.0
4           3254400.0

In [12]:
dataframe

,Card,Transaction Date,Transaction Time,Merchant Name,Merchant City,Amount VND
0,0,26/10/2002,06:05:00,5817218446178736267,La Verne,2866320.0
1,0,11/09/2002,19:30:00,-1605794445852049456,La Verne,1924320.0000000002
2,0,30/09/2002,12:52:00,2027553650310142703,Mira Loma,271200.0
3,0,04/10/2002,06:20:00,3527213246127876953,La Verne,2756880.0
4,0,31/10/2002,06:11:00,-245178307025547046,La Verne,3254400.0
...,...,...,...,...,...,...
172,0,11/10/2002,06:57:00,-5475680618560174533,Monterey Park,904560.0
173,0,11/10/2002,05:52:00,5817218446178736267,La Verne,4144079.9999999995
174,0,28/10/2002,11:41:00,6666504894937430109,La Verne,55199.99999999999
175,0,08/10/2002,06:24:00,-4282466774399734331,Mira Loma,2400000.0
176,0,20/10/2002,06:46:00,-34551508091458520,La Verne,984480.0000000001